/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102, .85);

	position: absolute;
	bottom: 0;
	width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}

  .name a{
    color:white;
  }

	.main-nav a {
		font-size: .95em;
		color: #ccc;
	}

	.main-nav a:hover {
		color: #eee;
	}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  background: #303030;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #3acec2;
  background:
  linear-gradient(90deg,rgba(58, 206, 194),rgba(58, 206, 194, .5));
background-size: cover;
	padding: 3.2em 0;
	margin-bottom: 60px;
      text-shadow: 1px 1px 1px #666;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #f1f1f1;
	padding: 2em 0 1.2em 0;
	margin-top: 2em;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
  border-radius: 50%;
	border: 10px solid rgba(0,0,0,.2);
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;
}

.image-border{
	padding:10px;
border: solid 1px #d9e4ea;
}

.main-footer .social-icons{
	display: block;
	font-size: 2em;
	margin-top: .5em;
}
.main-footer .social-icons a{
	padding:0 .1em;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {


  .wrap{
    min-height: calc(100vh - 89px); /*height of sticky footer*/
    padding-top: 68px; /*height of fixed header*/
  }

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

  .main-header{
    position: fixed;
    width:100%;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    z-index: 1000;
  }

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}
	.logo{
		transition: transform .2s ease-in-out;
	}
	.logo:hover{
		transform: scale(1.2);
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

}
