/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack-primary;
  line-height: 1.6;
  color: $color-text;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
}

h2,
h3 {
  margin: 0 0 0.8em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 0.95em;
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  line-height: 0;
  position: relative;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.5;
  color: #fff;
  padding: 1em;
  background: rgba(19, 43, 102, .85);
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* =================================
  Base Layout Styles
==================================== */
.main-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #303030;

  .name {
    font-size: 1.35em;
    margin: 0;

    a {
      text-align: center;
      display: block;
      padding: 10px 15px;
      color: white;
    }
  }

  .main-nav {
    margin-top: 5px;

    a {
      font-size: 0.95em;
      color: #ccc;
      transition-property: color;
      transition-duration: 0.4s;
      text-align: center;
      display: block;
      padding: 10px 15px;
    }

    a:hover {
      color: #eee;
    }
  }
}

.banner {
  color: #fff;
  background: #3acec2;
  background: linear-gradient(90deg, $color-primary, $color-secondary);
  padding: 3.2em 0;
  margin-bottom: 20px;
  text-align: center;

  .logo {
    width: 190px;
    border-radius: 50%;
    border: 15px solid rgba(0, 0, 0, .1);
    transition-duration: 0.5s, 0.5s;
    transition-property: border;
  }

  &:hover .logo {
    border: 10px solid rgba(0, 0, 0, .18);
  }

  .headline {
    margin-bottom: 0;
    color: white;
  }

  .headline,
  .tagline {
    text-shadow: 1px 1px 1px #666;
  }
}

.col {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.3em;
  margin-bottom: 2%;
  @include border-rounded-grey;
}

.main-footer {
  padding: 2em 0;
  margin-top: 20px;
  flex: 1;
  color: #888;
  text-align: center;

  .social-icons {
    display: block;
    font-size: 2em;
    margin-top: 0.5em;

    a {
      padding: 0 0.1em;
      color: #888;
    }

    a:hover {
      color: $color-secondary;
    }
  }
}

.row {
padding: 1em;
}


/* =================================
  Grid
==================================== */
.grid-container {
  display: grid;
  grid-gap: 20px; //shorthand  for both row and gap
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 0;
}

.grid-item {
  background: $color-secondary;
  color: white;
  border-radius: 5px;
}

.grid-item.focus {
  grid-column: span 2;
  grid-row: span 2;
}

.game-item-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 5px;
}

.game-item-container img {
  display: block;
  transition: all 0.3s ease-in-out;
}

.game-item-container img.hover {
  margin-bottom: -100%;
}

.game-item-container img.top {
  margin-top: 0;
}

.game-item-container:hover img.top {
  margin-top: -100%;
}

.game-item-container:hover img.hover {
  margin-bottom: 0;
}

.game-item-container .game-item-tags {
  top: 0;
  position: absolute;
  padding:4px;
}
.game-item-container .game-item-tags li{
  display:inline-block;
  margin-right: 5px;
  background: rgba(0,0,0,.5);
  padding:0 5px;
  border-radius: 5px;
  font-size: 0.8em;
}

.game-item-container .game-item-info {
  bottom: 0;
  position: absolute;
  color: white;
  background: $color-primary;
  background: linear-gradient(90deg, $color-primary, $color-secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transform: translateY(100%);
  transition: all 0.3s ease-in;
}

.game-item-container:hover .game-item-info {
  transform: translateY(0);
}

.game-item-info .games-item-info-link i {
  font-size: 1.2em;
  margin-right: 5px;
  vertical-align: text-top;
}

.game-item-info .games-item-info-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 3px 10px;
  color: $color-heading;
  background: white;
  font-size: 0.8em;
}

.grid-item.featured {
  box-shadow: 0 0 3px 2px white,0 0 3px 2px $color-primary, 0 0 4px 4px $color-primary;
}

.grid-item.hot {
  box-shadow: 0 0 3px 2px white, 0 0 3px 2px $color-secondary, 0 0 4px 4px $color-secondary;
}
/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  .col,
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }

  .row {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .tagline {
    font-size: 1.4em;
    color: $complement;
  }

  .col {
    flex: 1 48%;
    flex-direction: column;
    margin: 1%;
    background: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  }

  .btn {
    margin-top: auto;
  }
}
@media (min-width: 1025px) {
  .row {
    width: 80%;
    max-width: 1150px;
  }

  .col {
    flex: 1;
  }
}
